.intelGrid{
display:grid;
grid-template-columns: 2fr 1fr;
height:100vh;
}

.intelMap iframe{
width:100%;
height:100%;
border:none;
}

.intelNews{
background:#020606;
padding:10px;
overflow-y:auto;
border-left:1px solid #0f3;
}

.intelNews h3{
color:#0f3;
margin-bottom:10px;
}

.intelNews li{
margin-bottom:10px;
font-size:14px;
border-bottom:1px solid #0f3;
padding-bottom:5px;
}

.tab iframe{
width:100%;
height:100vh;
border:none;
}
